**/__pycache__
.vscode
Week6/A_Christmas_Carol.txt
Week6/A_Dolls_House.txt
Week6/A_Modest_Proposal.txt
Week6/A_Tale_of_Two_Cities.txt
Week6/Grimms_Fairy_Tales.txt
Week6/Ion.txt
Week6/The_Adventures_of_Tom_Sawyer.txt
Week6/The_Call_of_the_Wild.txt
Week6/The_Importance_of_Being_Earnest.txt
Week6/War_and_Peace.txt
